<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shootCompetition.mapper.CompetitionRecordMapper">

    <resultMap id="BaseResultMap" type="com.shootCompetition.domain.vo.CompetitionRecordVO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, start_time, end_time, name
    </sql>

    <select id="list" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM competition_record
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null">
                AND start_time = #{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                AND end_time = #{endTime,jdbcType=TIMESTAMP}
            </if>

        </where>
    </select>

    <insert id="add" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO competition_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>

        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>

        </trim>
    </insert>

    <update id="update">
        UPDATE competition_record
        <set>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>

        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete">
        DELETE
        FROM competition_record
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="get" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM competition_record
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
        </where>
    </select>


</mapper>

